# OxCOVID19 (https://covid19.eng.ox.ac.uk/) - Database access


This notebook demonstrates how to access OxCovid19 Database.

In [1]:
import psycopg2
import pandas as pd

conn = psycopg2.connect(
    host='covid19db.org',
    port=5432,
    dbname='covid19',
    user='covid19',
    password='covid19')
cur = conn.cursor()

 ## EPIDEMIOLOGY table

### List of available sources

In [54]:
sql_command = """SELECT DISTINCT source FROM epidemiology ORDER by source"""
df_epidemiology = pd.read_sql(sql_command, conn)
df_epidemiology.values.flatten()

array(['AUS_C1A', 'BEL_WY', 'BRA_MSHM', 'CAN_GOV', 'CHE_OPGOV',
       'DEU_JPGG', 'ESP_MSVP', 'EU_ZH', 'FRA_SPFCG', 'GBR_PHE',
       'GBR_PHTW', 'GBR_PHW', 'IDN_GTPPC', 'IND_COVIND', 'ITA_PC',
       'ITA_PCDM', 'JPN_C1JACD', 'KOR_DS4C', 'LAT_DSRP', 'MYS_MHYS',
       'NGA_CDC', 'NGA_SO', 'NLD_CW', 'NLD_WY', 'PAK_GOV', 'POL_WIKI',
       'PRT_MSDS', 'RUS_GOV', 'SWE_GM', 'SWE_SIR', 'THA_STAT', 'TUR_MHOE',
       'USA_CTP', 'USA_NYT', 'WRD_ECDC', 'ZAF_DSFSI'], dtype=object)

### Data for single source

In [52]:
source = "GBR_PHTW"

sql_command = """SELECT * FROM epidemiology WHERE source = %(source)s ORDER by date DESC"""
df_epidemiology = pd.read_sql(sql_command, conn, params={'source': source})
df_epidemiology.head()

,source,date,country,countrycode,adm_area_1,adm_area_2,adm_area_3,tested,confirmed,recovered,dead,hospitalised,hospitalised_icu,quarantined,gid
0,GBR_PHTW,2020-06-11,United Kingdom,GBR,Scotland,NHS Tayside,None,NaN,1685.0,None,NaN,None,None,None,"[GBR.3.3_1, GBR.3.7_1, GBR.3.24_1]"
1,GBR_PHTW,2020-06-11,United Kingdom,GBR,Scotland,NHS Highland,None,NaN,341.0,None,NaN,None,None,None,"[GBR.3.4_1, GBR.3.17_1]"
2,GBR_PHTW,2020-06-11,United Kingdom,GBR,Scotland,NHS Greater Glasgow and Clyde,None,NaN,3995.0,None,NaN,None,None,None,"[GBR.3.9_1, GBR.3.11_1, GBR.3.16_1, GBR.3.18_1..."
3,GBR_PHTW,2020-06-11,United Kingdom,GBR,Scotland,NHS Grampian,None,NaN,1288.0,None,NaN,None,None,None,"[GBR.3.1_1, GBR.3.2_1, GBR.3.20_1]"
4,GBR_PHTW,2020-06-11,United Kingdom,GBR,Scotland,NHS Forth Valley,None,NaN,948.0,None,NaN,None,None,None,"[GBR.3.5_1, GBR.3.14_1, GBR.3.30_1]"

## MOBILITY table

In [53]:
source = "GOOGLE_MOBILITY"
countrycode = "GBR"

sql_command = """SELECT * FROM mobility WHERE source=%(source)s AND countrycode=%(countrycode)s ORDER by date DESC"""
df_mobility = pd.read_sql(sql_command, conn, params={'source': source, 'countrycode': countrycode})
df_mobility.head()

,source,date,country,countrycode,adm_area_1,adm_area_2,adm_area_3,transit_stations,residential,workplace,parks,retail_recreation,grocery_pharmacy,gid,transit,walking,driving
0,GOOGLE_MOBILITY,2020-06-07,United Kingdom,GBR,Wales,Denbighshire,None,-38.0,NaN,-26.0,-13.0,-62.0,NaN,[GBR.4.9_1],None,None,None
1,GOOGLE_MOBILITY,2020-06-07,United Kingdom,GBR,Wales,Bridgend,None,-48.0,NaN,-17.0,40.0,-70.0,NaN,[GBR.4.3_1],None,None,None
2,GOOGLE_MOBILITY,2020-06-07,United Kingdom,GBR,England,Derbyshire,None,-34.0,10.0,-27.0,12.0,-71.0,10.0,[GBR.1.25_1],None,None,None
3,GOOGLE_MOBILITY,2020-06-07,United Kingdom,GBR,England,Bracknell Forest,None,-29.0,NaN,-30.0,65.0,-70.0,NaN,[GBR.1.9_1],None,None,None
4,GOOGLE_MOBILITY,2020-06-07,United Kingdom,GBR,England,Nottinghamshire,None,-35.0,10.0,-28.0,-15.0,-69.0,10.0,[GBR.1.67_1],None,None,None

## GOVERNMENT_REPONSE table

In [30]:
countrycode = "GBR"

sql_command = """SELECT * FROM government_response WHERE countrycode=%(countrycode)s ORDER by date DESC"""
df_govtrack = pd.read_sql(sql_command, conn, params={'countrycode': countrycode})
df_govtrack.head()

,source,date,gid,country,countrycode,adm_area_1,adm_area_2,adm_area_3,c1_school_closing,c1_flag,...,stringency_indexfordisplay,stringency_legacy_index,stringency_legacy_indexfordisplay,government_response_index,government_response_index_for_display,containment_health_index,containment_health_index_for_display,economic_support_index,economic_support_index_for_display,actions
0,GOVTRACK,2020-06-11,GBR,United Kingdom,GBR,None,None,None,3,0.0,...,70.37,76.19,76.19,70.51,70.51,65.15,65.15,100.0,100.0,"{'policyActions': [{'notes': None, 'flagged': ..."
1,GOVTRACK,2020-06-10,GBR,United Kingdom,GBR,None,None,None,3,0.0,...,70.37,76.19,76.19,70.51,70.51,65.15,65.15,100.0,100.0,"{'policyActions': [{'notes': None, 'flagged': ..."
2,GOVTRACK,2020-06-09,GBR,United Kingdom,GBR,None,None,None,3,0.0,...,70.37,76.19,76.19,70.51,70.51,65.15,65.15,100.0,100.0,"{'policyActions': [{'notes': None, 'flagged': ..."
3,GOVTRACK,2020-06-08,GBR,United Kingdom,GBR,None,None,None,3,0.0,...,70.37,76.19,76.19,70.51,70.51,65.15,65.15,100.0,100.0,"{'policyActions': [{'notes': None, 'flagged': ..."
4,GOVTRACK,2020-06-07,GBR,United Kingdom,GBR,None,None,None,3,0.0,...,64.81,69.05,69.05,66.67,66.67,60.61,60.61,100.0,100.0,"{'policyActions': [{'notes': None, 'flagged': ..."

## COUNTRY STATISTICS table

In [32]:
countrycode = "GBR"

sql_command = """SELECT * FROM country_statistics WHERE countrycode=%(countrycode)s"""
df_stats = pd.read_sql(sql_command, conn, params={'countrycode': countrycode})
df_stats.head()

,source,year,country,countrycode,adm_level,gid,samplesize,properties
0,WB,2020,United Kingdom,GBR,0,[GBR],-1,"{'EN.POP.DNST': {'Year': 2018.0, 'Indicator Na..."
1,EVS,1981-1984,United Kingdom of Great Britain and Northern I...,GBR,0,[GBR],1167,{'A001': {'Label': 'Important in life: Family'...
2,EVS,1990-1993,United Kingdom of Great Britain and Northern I...,GBR,0,[GBR],1484,{'A001': {'Label': 'Important in life: Family'...
3,EVS,1999-2001,United Kingdom of Great Britain and Northern I...,GBR,0,[GBR],1000,{'A001': {'Label': 'Important in life: Family'...
4,EVS,2008-2010,United Kingdom of Great Britain and Northern I...,GBR,0,[GBR],1561,{'A001': {'Label': 'Important in life: Family'...

## WEATHER table

In [34]:
countrycode = "GBR"

sql_command = """SELECT * FROM weather WHERE countrycode=%(countrycode)s ORDER by date DESC"""
df_weather = pd.read_sql(sql_command, conn, params={'countrycode': countrycode})
df_weather.head()

,date,countrycode,gid,precip_max_avg,precip_max_std,precip_mean_avg,precip_mean_std,specific_humidity_max_avg,specific_humidity_max_std,specific_humidity_mean_avg,...,windgust_mean_avg,windgust_mean_std,windgust_min_avg,windgust_min_std,windspeed_max_avg,windspeed_max_std,windspeed_mean_avg,windspeed_mean_std,windspeed_min_avg,windspeed_min_std
0,2020-06-10,GBR,GBR.4.9_1,0.000567,0.000207,0.000093,0.000022,0.007731,0.000199,0.007280,...,5.005787,0.129068,1.152778,0.326906,5.930555,0.441396,2.218750,0.100665,0.652778,0.241363
1,2020-06-10,GBR,GBR.4.8_1,0.000738,0.000318,0.000123,0.000030,0.007790,0.000126,0.007243,...,4.787879,0.414353,1.534091,0.617203,4.795455,0.506415,2.080019,0.198828,0.465909,0.282496
2,2020-06-10,GBR,GBR.4.7_1,0.001628,0.000772,0.000322,0.000068,0.008378,0.000263,0.007576,...,5.534540,0.493433,2.111842,0.534800,5.855263,0.399965,2.760143,0.307166,1.006579,0.279431
3,2020-06-10,GBR,GBR.4.6_1,0.001518,0.000371,0.000285,0.000062,0.008616,0.000249,0.007652,...,5.766927,0.466796,1.125000,0.434514,5.526042,0.797113,2.855903,0.319205,0.531250,0.237308
4,2020-06-10,GBR,GBR.4.5_1,0.001284,0.000132,0.000183,0.000016,0.008423,0.000122,0.007446,...,6.153646,0.096354,3.937500,0.187500,5.375000,0.500000,3.031250,0.026042,1.562500,0.312500

## ADMINISTRATIVE_DIVISION table

In [45]:
import geopandas as gpd

countrycode = "GBR"
levels_list=(0,1,2)

sql_command = f"SELECT * FROM administrative_division WHERE adm_level IN %(levels_list)s AND countrycode=%(countrycode)s"   
df_admin = gpd.GeoDataFrame.from_postgis(
    sql_command, 
    conn, 
    params={'countrycode': countrycode, 'levels_list': levels_list}, 
    geom_col='geometry')
df_admin.head()

,country,countrycode,countrycode_alpha2,adm_level,adm_area_1,adm_area_1_code,adm_area_2,adm_area_2_code,adm_area_3,adm_area_3_code,gid,latitude,longitude,properties,geometry
0,United Kingdom,GBR,GB,0,None,None,None,None,None,None,GBR,54.164734,-2.895751,"{'GID_0': 'GBR', 'NAME_0': 'United Kingdom'}","MULTIPOLYGON (((-5.86721 56.65690, -5.74694 56..."
1,United Kingdom,GBR,GB,1,England,GBR.1_1,None,None,None,None,GBR.1_1,52.589902,-1.461575,"{'CC_1': None, 'GID_0': 'GBR', 'GID_1': 'GBR.1...","MULTIPOLYGON (((-4.63632 50.35447, -4.63361 50..."
2,United Kingdom,GBR,GB,2,England,GBR.1_1,Barnsley,GBR.1.1_1,None,None,GBR.1.1_1,53.526238,-1.533560,"{'CC_2': None, 'GID_0': 'GBR', 'GID_1': 'GBR.1...","POLYGON ((-1.78997 53.47293, -1.81611 53.51611..."
3,United Kingdom,GBR,GB,2,England,GBR.1_1,Bath and North East Somerset,GBR.1.2_1,None,None,GBR.1.2_1,51.355271,-2.469959,"{'CC_2': None, 'GID_0': 'GBR', 'GID_1': 'GBR.1...","POLYGON ((-2.68629 51.31516, -2.68066 51.32836..."
4,United Kingdom,GBR,GB,2,England,GBR.1_1,Bedfordshire,GBR.1.3_1,None,None,GBR.1.3_1,52.195932,-0.489157,"{'CC_2': None, 'GID_0': 'GBR', 'GID_1': 'GBR.1...","POLYGON ((-0.58508 52.11364, -0.63161 52.14651..."