# OxCOVID19 (https://covid19.eng.ox.ac.uk/) - CSV data access


This notebook demonstrates how to access OxCovid19 CSV data.

In [1]:
import pandas as pd

 ## EPIDEMIOLOGY table

### List of available sources

In [48]:
from bs4 import BeautifulSoup
import requests

url = 'https://github.com/covid19db/data/tree/master/data-epidemiology/'
expr = re.compile(r'.*epidemiology-(.*)\.csv')

page = requests.get(url).text
soup = BeautifulSoup(page, 'html.parser')
sources = [expr.sub(r'\1', node.get('href')) for node in soup.find_all('a') if node.get('href').endswith('.csv')]

print(sources)

['AUS_C1A', 'BEL_WY', 'BRA_MSHM', 'CAN_GOV', 'CHE_OPGOV', 'DEU_JPGG', 'ESP_MSVP', 'EU_ZH', 'FRA_SPFCG', 'GBR_PHE', 'GBR_PHTW', 'GBR_PHW', 'IDN_GTPPC', 'IND_COVIND', 'ITA_PC', 'ITA_PCDM', 'JPN_C1JACD', 'KOR_DS4C', 'LAT_DSRP', 'MYS_MHYS', 'NGA_CDC', 'NGA_SO', 'NLD_CW', 'NLD_WY', 'PAK_GOV', 'POL_WIKI', 'PRT_MSDS', 'RUS_GOV', 'SWE_GM', 'SWE_SIR', 'THA_STAT', 'TUR_MHOE', 'USA_CTP', 'USA_NYT', 'WRD_ECDC', 'WRD_WHOJHU', 'ZAF_DSFSI']

### Data for single source

In [6]:
source = "GBR_PHTW"

url = f"https://raw.githubusercontent.com/covid19db/data/master/data-epidemiology/covid19db-epidemiology-{source}.csv"
df_epidemiology = pd.read_csv(url)
df_epidemiology.head()

,source,date,country,countrycode,adm_area_1,adm_area_2,adm_area_3,tested,confirmed,recovered,dead,hospitalised,hospitalised_icu,quarantined,gid
0,GBR_PHTW,08-01-2020,United Kingdom,GBR,Wales,NaN,NaN,1.0,0.0,NaN,NaN,NaN,NaN,NaN,['GBR.4_1']
1,GBR_PHTW,09-01-2020,United Kingdom,GBR,Wales,NaN,NaN,1.0,0.0,NaN,NaN,NaN,NaN,NaN,['GBR.4_1']
2,GBR_PHTW,10-01-2020,United Kingdom,GBR,Wales,NaN,NaN,1.0,0.0,NaN,NaN,NaN,NaN,NaN,['GBR.4_1']
3,GBR_PHTW,11-01-2020,United Kingdom,GBR,Wales,NaN,NaN,1.0,0.0,NaN,NaN,NaN,NaN,NaN,['GBR.4_1']
4,GBR_PHTW,12-01-2020,United Kingdom,GBR,Wales,NaN,NaN,1.0,0.0,NaN,NaN,NaN,NaN,NaN,['GBR.4_1']

## MOBILITY table

In [11]:
source = "GOOGLE_MOBILITY"
countrycode = "GBR"
    
url = f"https://raw.githubusercontent.com/covid19db/data/master/data-mobility/covid19db-mobility-{source}.csv"
df_mobility = pd.read_csv(url)
df_mobility = df_mobility[df_mobility.countrycode==countrycode]
df_mobility.head()

,source,date,country,countrycode,adm_area_1,adm_area_2,adm_area_3,transit_stations,residential,workplace,parks,retail_recreation,grocery_pharmacy,gid,transit,walking,driving
1574,GOOGLE_MOBILITY,15-02-2020,United Kingdom,GBR,NaN,NaN,NaN,-12.0,2.0,-4.0,-35.0,-12.0,2.0,['GBR'],NaN,NaN,NaN
1575,GOOGLE_MOBILITY,15-02-2020,United Kingdom,GBR,%,Merseyside,NaN,-8.0,2.0,-3.0,-33.0,-10.0,2.0,"['GBR.1.47_1', 'GBR.1.79_1', 'GBR.1.82_1', 'GB...",NaN,NaN,NaN
1576,GOOGLE_MOBILITY,15-02-2020,United Kingdom,GBR,%,South Yorkshire,NaN,-11.0,2.0,-2.0,-41.0,-7.0,2.0,"['GBR.1.1_1', 'GBR.1.27_1', 'GBR.1.77_1', 'GBR...",NaN,NaN,NaN
1577,GOOGLE_MOBILITY,15-02-2020,United Kingdom,GBR,%,Tyne and Wear,NaN,-9.0,2.0,-2.0,-27.0,-10.0,2.0,"['GBR.1.34_1', 'GBR.1.58_1', 'GBR.1.62_1', 'GB...",NaN,NaN,NaN
1578,GOOGLE_MOBILITY,15-02-2020,United Kingdom,GBR,%,West Midlands,NaN,-11.0,2.0,-4.0,-32.0,-10.0,2.0,"['GBR.1.4_1', 'GBR.1.21_1', 'GBR.1.29_1', 'GBR...",NaN,NaN,NaN

## GOVERNMENT_REPONSE table

In [49]:
countrycode = "GBR"

url = f"https://raw.githubusercontent.com/covid19db/data/master/data-government-response/covid19db-government-response-GOVTRACK.csv"
df_govtrack = pd.read_csv(url)
df_govtrack = df_govtrack[df_govtrack.countrycode==countrycode]
df_govtrack.head()

,source,date,gid,country,countrycode,adm_area_1,adm_area_2,adm_area_3,c1_school_closing,c1_flag,...,stringency_index,stringency_indexfordisplay,stringency_legacy_index,stringency_legacy_indexfordisplay,government_response_index,government_response_index_for_display,containment_health_index,containment_health_index_for_display,economic_support_index,economic_support_index_for_display
165,GOVTRACK,01-01-2020,GBR,United Kingdom,GBR,NaN,NaN,NaN,0.0,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
340,GOVTRACK,02-01-2020,GBR,United Kingdom,GBR,NaN,NaN,NaN,0.0,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
515,GOVTRACK,03-01-2020,GBR,United Kingdom,GBR,NaN,NaN,NaN,0.0,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
690,GOVTRACK,04-01-2020,GBR,United Kingdom,GBR,NaN,NaN,NaN,0.0,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
865,GOVTRACK,05-01-2020,GBR,United Kingdom,GBR,NaN,NaN,NaN,0.0,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

## BASELINE MORTALITY table

In [53]:
countrycode = "GBR"

url = f"https://raw.githubusercontent.com/covid19db/data/master/data-statistics/covid19db-baseline-mortality.csv"
baseline_mortality = pd.read_csv(url)
baseline_mortality = baseline_mortality[baseline_mortality.countrycode==countrycode]
baseline_mortality.head()

    source        date         country countrycode adm_level      gid  deaths
492     UN  01-01-1982  United Kingdom         GBR       NaN  ['GBR']   69894
524     UN  01-02-1982  United Kingdom         GBR       NaN  ['GBR']   56309
545     UN  01-03-1982  United Kingdom         GBR       NaN  ['GBR']   63030
567     UN  01-04-1982  United Kingdom         GBR       NaN  ['GBR']   56899
594     UN  01-05-1982  United Kingdom         GBR       NaN  ['GBR']   54068

## COUNTRY STATISTICS table

In [54]:
countrycode = "GBR"

url = f"https://raw.githubusercontent.com/covid19db/data/master/data-statistics/covid19db-country-statistics.csv"
df_stats = pd.read_csv(url)
df_stats = df_stats[df_stats.countrycode==countrycode]
df_stats.head()

,source,year,country,countrycode,adm_level,gid,samplesize,properties
203,WB,2020,United Kingdom,GBR,0,['GBR'],-1,"{'EN.POP.DNST': {'Year': 2018.0, 'Indicator Na..."
228,EVS,1981-1984,United Kingdom of Great Britain and Northern I...,GBR,0,['GBR'],1167,{'A001': {'Label': 'Important in life: Family'...
256,EVS,1990-1993,United Kingdom of Great Britain and Northern I...,GBR,0,['GBR'],1484,{'A001': {'Label': 'Important in life: Family'...
289,EVS,1999-2001,United Kingdom of Great Britain and Northern I...,GBR,0,['GBR'],1000,{'A001': {'Label': 'Important in life: Family'...
332,EVS,2008-2010,United Kingdom of Great Britain and Northern I...,GBR,0,['GBR'],1561,{'A001': {'Label': 'Important in life: Family'...